name: Java CI

#on:
#  schedule:
#    - cron: '0 16 * * *'

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # Step that does that actual cache save and restore
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
           ${{ runner.os }}-maven-
      - name: Build with mvnw
        run: ./mvnw clean test -Punit-tests -Ddockstore-core.version=1.12.0-alpha.1-SNAPSHOT -B -ntp -U
      - name: Check what changed
        run: git diff
